<footer id="colophon" class="clearfix">

  <div class="footer-widgets-wrapper">
    <div class="inner-wrap">
      <div class="footer-widgets-area clearfix">

        {% include footer/common/groups.html %}

        <div class="tg-one-fourth tg-column-2">
          <aside id="text-4" class="widget widget_text">
            <h3 class="widget-title"><span>Miejsce</span></h3>
            <div class="textwidget">
              <a href="http://gimnazjum56.hostdmk.net/www/" target="_blank">Gimnazjum nr 56 im. J. Wybickiego</a><br />
              ul. Promyk 4<br />
              60-393 Poznań
            </div>
          </aside>
        </div>

        {% include footer/common/organizers.html %}

        {% include footer/common/contact.html %}
      </div>
    </div>
  </div>

  {% include footer/common/copyright.html %}
</footer>