<footer id="colophon" class="clearfix">

  <div class="footer-widgets-wrapper">
    <div class="inner-wrap">
      <div class="footer-widgets-area clearfix">

        {% include footer/common/groups.html %}

        <div class="tg-one-fourth tg-column-2">
          <aside id="text-4" class="widget widget_text">
            <h3 class="widget-title"><span>Miejsce</span></h3>
            <div class="textwidget">
              <a href="http://staff.edu.pl/" target="_blank">Zespół Szkół Licealnych i Technicznych nr 1</a><br />
              ul. Wiśniowa 56<br />
              02-520 Warszawa
            </div>
          </aside>
        </div>

        {% include footer/common/organizers.html %}

        {% include footer/common/contact.html %}

      </div>
    </div>
  </div>

  {% include footer/common/copyright.html %}
</footer>