---
layout: warszawa
---

<div class="entry-content clearfix">
  <div class="mainPage">
    {% include index/goal.html %}

    {% include index/workshops.html %}

    <h1>Miejsce</h1>

    <p>Gościć nas będzie</p>

    <p>
      <a title="Zespół Szkół Licealnych i Technicznych nr 1" href="http://staff.edu.pl/" target="_blank">Zespół Szkół
      Licealnych i Technicznych nr 1</a><br>
      ul. Wiśniowa 56<br>
      02-520 Warszawa
    </p>

    <p></p>
    <small><a
        href="https://maps.google.pl/maps?f=q&source=embed&hl=pl&geocode=&q=Wi%C5%9Bniowa+56,+Warszawa&aq=0&oq=Wi%C5%9Bniowa+56&sll=51.953751,19.134379&sspn=11.587614,33.815918&ie=UTF8&hq=&hnear=Wi%C5%9Bniowa+56,+Warszawa,+Mazowieckie&t=m&ll=52.210184,21.014099&spn=0.021038,0.036478&z=14&iwloc=A"
        target="_blank">Wyświetl mapę</a></small>
    <p></p>
  </div>
</div>
