---
layout: poznan
---

<div class="entry-content clearfix">
  <div class="mainPage">
    {% include index/goal.html %}

    {% include index/workshops.html %}

    <div id="map-canvas"></div>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(52.409986,16.8702),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
    <h1>Miejsce</h1>

    <p>Gościć nas będzie</p>

    <p>
      <a href="http://gimnazjum56.hostdmk.net/www/" target="_blank">Gimnazjum nr 56 im. J. Wybickiego</a><br />
      ul. Promyk 4<br />
      60-393 Poznań
    </p>

    <p></p>
    <small><a
        href="https://www.google.pl/maps/place/Gimnazjum+nr+56+im.+J.Wybickiego/@52.409986,16.8702,17z/data=!3m1!4b1!4m2!3m1!1s0x470444e925044c65:0x51352198d5323bc2"
        target="_blank">Wyświetl mapę</a></small>
    <p></p>
  </div>
</div>
