---
layout: poznan
---

<div class="entry-content clearfix">
  <h4>Miejsce</h4>

  <p><a href="http://gimnazjum56.hostdmk.net/www/" target="_blank">Gimnazjum nr 56 im. J. Wybickiego</a> położone u zbiegu ulic Bukowskiej i Bułgarskiej na osiedlu Grunwald Północ to
    nowoczesna szkoła w społeczeństwie informacyjnym. Wysoko wykwalifikowana kadra pedagogiczna podejmuje działania
    przygotowujące gimnazjalistę do życia i pracy w XXI wieku.</p>

  <p>Szkoła zapewnia wysoką jakość kształcenia w tym: kształtowanie konstruktywnego myślenia, rozwój kluczowych
    kompetencji do realizowania swojej drogi zawodowej w międzynarodowym rynku, kładzie duży nacisk na kreatywność i
    innowacje. Od 2006 roku Gimnazjum 56 z powodzeniem wykorzystuje e-learning jako formę wspomagania nauczania, zaś od
    5 lat prowadzi projekt "Cyberprzestrzeń w innowacyjnym nauczaniu gimnazjalisty", w którym uczniowie mają do
    dyspozycji na każdej lekcji osobiste netbooki. Szkoła pracuje także z uczniami z wykorzystaniem chmury
    edukacyjnej.</p>

  <p>
    <strong>Adres:</strong><br>
    ul. Promyk 4<br />
    60-393 Poznań
  </p>

  {% include location/safety.html %}

  {% include location/contact.html %}
</div>
