    <footer id="colophon" class="clearfix"> 
      
<div class="footer-widgets-wrapper">
  <div class="inner-wrap">
    <div class="footer-widgets-area clearfix">
      <div class="tg-one-fourth tg-column-1">
                <aside id="nav_menu-3" class="widget widget_nav_menu"><h3 class="widget-title"><span>Warsztaty</span></h3><div class="menu-sciezki-container"><ul id="menu-sciezki" class="menu">
                    <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="grupa6+.html">Grupa 6+</a></li>
                    <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="grupa8+.html">Grupa 8+</a></li>
                    <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="grupa10+.html">Grupa 10+</a></li>
                    <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="grupa12+.html">Grupa 12+</a></li>
                    <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="opiekunowie.html">Grupa Opiekunowie</a></li>
                </ul></div></aside>   </div>
      <div class="tg-one-fourth tg-column-2">
        <aside id="text-4" class="widget widget_text"><h3 class="widget-title"><span>Miejsce</span></h3>      <div class="textwidget"><a href="http://staff.edu.pl/" target="_blank">Zespół Szkół Licealnych i Technicznych nr 1</a>
ul. Wiśniowa 56
02-520 Warszawa</div>
    </aside>      </div>
      <div class="tg-one-fourth tg-after-two-blocks-clearfix tg-column-3">
        <aside id="text-3" class="widget widget_text"><h3 class="widget-title"><span>Organizatorzy</span></h3>      <div class="textwidget">Wydarzenie jest organizowane przez <a href="http://warszawa.jug.pl/" target="_blank">WJUG</a> - Warszawską Grupę Użytkowników Javy


[<a href="organizatorzy.html">więcej</a>]</div>
    </aside>      </div>
      <div class="tg-one-fourth tg-one-fourth-last tg-column-4">
        <aside id="text-2" class="widget widget_text"><h3 class="widget-title"><span>Kontakt</span></h3>      <div class="textwidget"><p><a href="mailto:devoxx4kidspl@gmail.com">devoxx4kidspl@gmail.com</a></p>
</div>
    </aside><aside id="text-6" class="widget widget_text">      
                <div class="textwidget"><a href="https://www.facebook.com/devoxx4kidspl" target="_blank"><img src="./images/FB-f-Logo__blue_50.png"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/Devoxx4KidsPL" target="_blank"><img src="./images/twitter.png"></a></div>
    </aside>      </div>
    </div>
  </div>
</div>
  
      <div class="footer-socket-wrapper clearfix">
        <div class="inner-wrap">
          <div class="footer-socket-area">
            <div class="copyright">Copyright © 2015 <a href="index.html" title="Devoxx4Kids Polska"><span>Devoxx4Kids Polska</span></a> </div>            <nav class="small-menu">
                              </nav>
          </div>
        </div>
      </div>      
    </footer>