<header id="masthead" class="site-header clearfix">

  <div id="header-text-nav-container">
    <div class="inner-wrap">

      <div id="header-text-nav-wrap" class="clearfix">
        <div id="header-left-section">
          <div id="header-text">
            <h1 id="site-title">
              <a href="index.html" title="Devoxx4Kids Polska" rel="home">Devoxx4Kids Polska</a>
            </h1>

            <h2 id="site-description">Warszawa, 7 czerwca 2014</h2>
          </div>
        </div>
        
        <!-- #header-left-section -->
        <div id="header-right-section">
          <nav id="site-navigation" class="main-navigation" role="navigation">
            <h1 class="menu-toggle">Menu</h1>

            <div class="menu-meinmenu-container">
              <ul id="menu-meinmenu" class="menunav-menu">
                <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                  <a href="warsztaty.html">Warsztaty</a>
                </li>
                <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28">
                  <a href="lokalizacja.html">Lokalizacja</a>
                </li>
                <li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                  <a href="regulamin.html">Regulamin</a>
                </li>
                <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
                  <a href="sponsorzy.html">Wspierają nas</a>
                </li>
                <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279">
                  <a href="organizatorzy.html">Organizatorzy</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- #header-right-section -->

      </div>
      <!-- #header-text-nav-wrap -->
    </div>
    <!-- .inner-wrap -->
  </div>
  <!-- #header-text-nav-container -->

  <div class="header-image-container">
    <img src="./images/copy-bannerPL.png" class="header-image" width="1268" height="331" alt="Devoxx4Kids Polska">
  </div>

</header>