<div class="tg-one-fourth tg-one-fourth-last tg-column-4">
  <aside id="text-2" class="widget widget_text">
    <h3 class="widget-title"><span>Kontakt</span></h3>
    <div class="textwidget"
        ><p><a href="mailto:devoxx4kidspl@gmail.com">devoxx4kidspl@gmail.com</a></p>
    </div>
  </aside>
  <aside id="text-6" class="widget widget_text">
    <div class="textwidget">
      <a href="https://www.facebook.com/devoxx4kidspl" target="_blank"><img src="/images/FB-f-Logo__blue_50.png"></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/Devoxx4KidsPL" target="_blank"><img src="/images/twitter.png"></a></div>
  </aside>
</div>
