<div class="tg-one-fourth tg-column-1">
  <aside id="nav_menu-3" class="widget widget_nav_menu">
    <h3 class="widget-title"><span>Warsztaty</span></h3>
    <div class="menu-sciezki-container">
      <ul id="menu-sciezki" class="menu">
        <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="grupa6+.html">Grupa 6+</a></li>
        <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="grupa8+.html">Grupa 8+</a></li>
        <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="grupa10+.html">Grupa 10+</a></li>
        <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="grupa12+.html">Grupa 12+</a></li>
        <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="opiekunowie.html">Grupa Opiekunowie</a></li>
      </ul>
    </div>
  </aside>
</div>