<section>
    <h2>Cel i misja</h2>
    <div class="flex">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/iy7QFi1s8s4?rel=0&amp;showinfo=0&amp;autoplay=0" allowfullscreen></iframe>
        </div>
        <div class="content">
            <p><strong>Devoxx4Kids</strong> to wspaniała szansa dla najmłodszych na pierwszy kontakt z programowaniem poprzez zabawę. Na całym świecie uświadamiamy zarówno dzieci jak i rodziców, że komputer to narzędzie, którym można własnoręcznie kierować, wykorzystując je do kreatywnej zabawy, nauki i pracy. Mamy również nadzieję rozpowszechnić wśród nauczycieli oraz rodziców bogactwo dostępnych za darmo materiałów i narzędzi wspomagających edukację komputerową. <strong>Devoxx4Kids Polska</strong> to pierwsza, bezpłatna i otwarta konferencja programistyczna dla dzieci będąca częścią światowego ruchu <a href="http://devoxx4kids.org" target="_blank">Devoxx4Kids</a></p>
        </div>
    </div>
</section>