<section>
    <h2>Cel i misja</h2>
    <div class="flex">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/iy7QFi1s8s4?rel=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content">
            <p><strong>Devoxx4Kids</strong> to wspaniała szansa dla najmłodszych na pierwszy kontakt z programowaniem poprzez zabawę. Celem naszego wydarzenia jest pokazanie najmłodszemu pokoleniu, jak sterować i bawić się komputerami. Mamy również nadzieję rozpowszechnić wśród nauczycieli oraz rodziców bogactwo dostępnych za darmo materiałów i narzędzi wspomagających edukację komputerową. Devoxx4Kids Polska to pierwsza, bezpłatna i otwarta konferencja programistyczna dla dzieci będąca częścią <a href="http://devoxx4kids.org/" target="_blank">światowego ruchu Devoxx4Kids</a></p>
        </div>
    </div>
</section>