<div class="entry-content clearfix">
  <p>Wydarzenie jest organizowane przez <a href="http://koduj.com/" target="_blank">Fundację Koduj.com</a></p>

  <p><span id="more-159"></span></p>

  <section class="widget workshop-widget clearfix">
    <h2 class="widget-title">Idea</h2>

    <div class="workshop-post">
      Idea powstała podczas walnego zgromadzenia członków <a href="http://warszawa.jug.pl/">Warszawskiej
      Grupy Użytkowników Java</a> (to taki popularny język programowania), gdzie wstępnie przedyskutowaliśmy temat
      konferencji dla dzieci i zebraliśmy chętnych do organizacji. Przeglądając różne inicjatywy
      <a href="http://devoxx4kids.org/">Devoxx4Kids</a> rozsiane po Europie i USA po prostu wiedzieliśmy, że chcemy
      zrobić coś podobnego <img src="/images/icon_smile.gif" alt=":-)" class="wp-smiley"> Skontaktowaliśmy się z jej
      współtwórcami i zdecydowaliśmy o zrealizowaniu podobnego przedsięwzięcia w Polsce.Niektórzy z nas chcieli
      nauczyć własne dzieci pisania gier zamiast bezmyślnego grania i podpatrzyli projekt <a href="http://code.org/">„Hour
      of code</a>” (Godzina programowania).Niektórzy już wcześniej próbowali swoich sił w nauce programowania dzieci
      przygotowując pilotażowe kluby programowania <a href="http://www.codeclub.org.pl/">code club</a>.<p></p>

      <p>Niektórzy z nas myślą, że żyjemy w <a
          href="http://pl.wikipedia.org/wiki/Technologiczna_osobliwo%C5%9B%C4%87">arcyciekawych czasach</a>, w których
        w kolejnym pokoleniu komputery i oprogramowanie odegrają ogromną rolę w historii naszej cywilizacji.</p>
    </div>
  </section>

  <section class="widget workshop-widget clearfix">
    <h2 class="widget-title">Organizatorzy</h2>

    <div class="workshop-post">
      <p>W porządku alfabetycznym:</p>
      <ul>
        <li><a href="" target="_blank">do uzupełnienia</a></li>
      </ul>
    </div>

    <h2 class="widget-title">Wspierają nas</h2>
    <div class="workshop-post">
      <ul>
        <li>do uzupełnienia</a>
      </ul>
    </div>
  </section>
</div>
