<div class="entry-content clearfix partners">
  <p class="caption">Partnerzy</p>

  <a href="http://www.robocamp.pl/" class="partner" title="Robocamp"><img src ="/images/logo-robocamp-bez_podpisu-250.png" title="Robocamp" alt="Robocamp" /></a>
  <a href="http://www.decerto.pl/" class="partner" title="Decerto"><img src ="/images/sponsors/decerto.png" title="Decerto" alt="Decerto" /></a>
  <a href="http://kids.geecon.org/" class="partner" title="Geecon4Kids"><img src ="/images/sponsors/geecon4kids.png" title="Geecon4Kids" alt="Geecon4Kids" /></a>
</div>
<div class="partners">
  <p>
    Jeśli jesteś zainteresowany wsparciem konferencji napisz do nas na <a href="mailto:devoxx4kidspl@gmail.com">devoxx4kidspl@gmail.com</a>.
  </p>
</div>
