<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/index.html">Strona główna</a></li>
            <li>
              <span>Miasta</span>
              <ul>
                {% for miasto in site.miasta %}
                  {% if miasto.title %}
                    <li><a href="{{ miasto.url | prepend: site.baseurl }}">{{ miasto.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span>Narzędzia</span></li>
            <li><span>Wolontariat</span></li>
            <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
        </div>
      </li>
    </ul>
  </nav>
</header>
