<div style="float: right; margin: 40px 0 0 20px;">
  <iframe width="420" height="236" src="https://www.youtube.com/embed/iy7QFi1s8s4?rel=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
</div>

<h1 style="margin-top: 0;">Cel</h1>

<p><strong>Devoxx4Kids</strong> to wspaniała szansa dla najmłodszych na pierwszy kontakt z programowaniem poprzez
  zabawę. Celem naszego wydarzenia jest pokazanie najmłodszemu pokoleniu, jak sterować i bawić się komputerami.
  Mamy również nadzieję rozpowszechnić wśród nauczycieli oraz rodziców bogactwo dostępnych za darmo materiałów i
  narzędzi wspomagających edukację komputerową. Devoxx4Kids Polska to pierwsza, bezpłatna i otwarta konferencja
  programistyczna dla dzieci będąca częścią <a href="http://devoxx4kids.org/">światowego ruchu Devoxx4Kids</a></p>