<h1>Cel</h1>

<p><strong>Devoxx4Kids</strong> to wspaniała szansa dla najmłodszych na pierwszy kontakt z programowaniem poprzez
  zabawę. Celem naszego wydarzenia jest pokazanie najmłodszemu pokoleniu, jak sterować i bawić się komputerami.
  Mamy również nadzieję rozpowszechnić wśród nauczycieli oraz rodziców bogactwo dostępnych za darmo materiałów i
  narzędzi wspomagających edukację komputerową. Devoxx4Kids Polska to pierwsza, bezpłatna i otwarta konferencja
  programistyczną dla dzieci będąca częścią <a href="http://devoxx4kids.org/">światowego ruchu Devoxx4Kids</a></p>