<h1>Warsztaty</h1>

<p>Wydarzenie jest skierowane dla dzieci w wieku od 6 do 15 lat. Dla każdego z czterech przedziałów wiekowych
  przygotowana jest oddzielna ścieżka. Przeprowadzane warsztaty wykorzystują zarówno darmowe jak i komercyjne
  rozwiązania dostępne na polskim rynku lub przez internet.<!-- Więcej informacji można znaleźć na stronie z <a
          title="Agenda" href="warsztaty.html">agendą</a>.--></p>

<div class="age_group">
  <a title="Ścieżka 6+" href="grupa6+.html">
    <img class="size-full" src="/images/grupa6+.png" alt="Warsztat 6+" width="135" height="135">
  </a>
  <p class="wp-caption-text">Warsztat 6+</p>
</div>

<div class="age_group">
  <a title="Ścieżka 8+" href="grupa8+.html">
    <img class="size-full" src="/images/grupa8+.png" alt="Warsztat 8+" width="135" height="135">
  </a>
  <p class="wp-caption-text">Warsztat 8+</p>
</div>

<div class="age_group">
  <a title="Ścieżka 10+" href="grupa10+.html">
    <img class="size-full" src="/images/grupa10+.png" alt="Warsztat 10+" width="135" height="135">
  </a>
  <p class="wp-caption-text">Warsztat 10+</p>
</div>

<div class="age_group">
  <a title="Ścieżka 12+" href="grupa12+.html">
    <img class="size-full" src="/images/grupa12+.png" alt="Warsztat 12+" width="135" height="135">
  </a>
  <p class="wp-caption-text">Warsztat 12+</p>
</div>

<div class="age_group">
  <a title="Grupa Opiekunowie" href="opiekunowie.html">
    <img class="size-full" src="/images/grupa_opiekunowie.png" alt="" width="135" height="135">
  </a>
  <p class="wp-caption-text">Warsztaty dla opiekunów i&nbsp;nauczycieli</p>
</div>