<!DOCTYPE html>
<html lang="pl-PL">

  {% include head.html %}

  <body class="home page page-id-68 page-template-default custom-background no-sidebar-full-width ">

    <div id="page" class="hfeed site">

      {% include header.html %}

      <div id="main" class="clearfix">
          <div class="inner-wrap">

            <div id="primary">
              <div id="content" class="clearfix">
                <article class="page type-page status-publish hentry">

                  {{ content }}

                  <footer class="entry-meta-bar clearfix">
                    <div class="entry-meta clearfix">
                    </div>
                  </footer>
                </article>
              </div><!-- #content -->
            </div><!-- #primary -->

          </div><!-- .inner-wrap -->
      </div><!-- #main -->


      {% include footer.html %}

      <a href="http://www.devoxx4kids.pl/#masthead" id="scroll-up" style="display: block;"></a>
    </div><!-- #page -->
    <script type="text/javascript" src="./js/navigation.js"></script>

  </body>

</html>
