---
layout: default
---
<article id="main">

	<header class="{{ page.banner }}">
		<h2>{{ page.title }}</h2>
		<p>{{ page.description }}</p>
	</header>

	<div class="wrapper {% if page.map %}style6{% else %}style5{% endif %}">
		<div class="inner">
			{{ content }}
		</div>
		{% if page.map %}
			<div
					id="map"
					data-lat="{{ page.map.lat }}"
					data-lng="{{ page.map.lng }}"
					data-zoom="{{ page.map.zoom }}"
					data-title="{{ page.map.title }}"
					data-icon="{{ site.baseurl }}{{ page.map.icon }}"
			></div>
		{% endif %}
	</div>

	{% if page.golden-sponsor %}
	<section id="golden-sponsor" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Złoty sponsor</h2>
				<ul>
					{% for sponsor in page.golden-sponsor %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
					        {% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

	{% if page.silver-sponsors %}
	<section id="silver-sponsors" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Srebrni sponsorzy</h2>
				<ul>
					{% for sponsor in page.silver-sponsors %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

	{% if page.bronze-sponsors %}
	<section id="bronze-sponsors" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Brązowi sponsorzy</h2>
				<ul>
					{% for sponsor in page.bronze-sponsors %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

	{% if page.all-sponsors %}
	<section id="sponsors" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Sponsorzy</h2>
				<ul>
					{% for sponsor in page.all-sponsors %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
					   		{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

	{% if page.partners %}
	<section id="partners" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Partnerzy</h2>
				<ul>
					{% for sponsor in page.partners %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

	{% if page.mediapartners %}
	<section id="mediapartners" class="wrapper sponsors">
		<div class="inner">
			<header class="major">
				<h2>Partnerzy medialni</h2>
				<ul>
					{% for sponsor in page.mediapartners %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" /></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

</article>