---
layout: default
---
<article id="main">

	<header class="{{ page.banner }}">
		<h2>{{ page.title }}</h2>
		<p>{{ page.description }}</p>
	</header>

	<section class="wrapper {% if page.map %}style6{% else %}style5{% endif %}">
		<div class="inner">
			{{ content }}
		</div>
		{% if page.map %}
			<div
					id="map"
					data-lat="{{ page.map.lat }}"
					data-lng="{{ page.map.lng }}"
					data-zoom="{{ page.map.zoom }}"
					data-title="{{ page.map.title }}"
					data-icon="{{ site.baseurl }}{{ page.map.icon }}"
			></div>
		{% endif %}
	</section>

	{% if page.sponsors %}
	<section id="sponsors" class="wrapper style1">
		<div class="inner">
			<header class="major">
				<h2>Partnerzy i sponsorzy</h2>
				<ul>
					{% for sponsor in page.sponsors %}
						{% if sponsor.name and sponsor.logo %}
							{% if sponsor.link %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}" /></a></li>
							{% else %}
								<li><img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}" /></li>
					        {% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</header>
		</div>
	</section>
	{% endif %}

</article>