---
layout: radomsko
---

<div class="entry-content clearfix">
  <div class="mainPage">
    {% include index/goal.html %}

    {% include index/workshops.html %}


    <div id="map-canvas"></div>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(51.072068,19.44752),
          zoom: 16,
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
    <h1>Miejsce</h1>

    <p>Gościć nas będzie</p>

    <p>
      <a href="http://www.zse-e.edu.pl/" target="_blank">Zespół Szkół Elektryczno-Elektronicznych w Radomsku</a><br />
      ul. Narutowicza 12<br />
      97-500 Radomsko
    </p>

    <p></p>
    <small><a
        href="https://www.google.com/maps/place/Narutowicza+12,+97-500+Radomsko,+Polska/@51.072068,19.44752,14z/data=!4m2!3m1!1s0x4719ffe11108bb73:0x99d09a4069837842?hl=pl"
        target="_blank">Wyświetl mapę</a></small>
    <p></p>
  </div>
</div>
