<h4>Bezpieczeństwo</h4>

<p>Dzieci podczas wydarzenia będą&nbsp;pod opieką&nbsp;nauczycieli i organizatorów wydarzenia. Nie będą&nbsp;opuszczały
  terenu szkoły, ani piętra na którym odbędzie się wydarzenie. Każda z grup wiekowych będzie pod opieką własnego
  opiekuna.</p>

<p>Podczas wydarzenia będzie fotograf, który będzie robił zdjecia do materiałów prasowych. Wzięcie udziału w
  wydarzeniu wiąże się&nbsp;z akceptacją&nbsp;faktu, że zdjęcia będą&nbsp;opublikowane na tej stronie internetowej
  oraz mediach społecznościowych.</p>

